@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    margin: 0;
    padding: 0;

}

table {
    width: 100%;
}

#header {
    background-color: #000;
    color: #fff;
    height: 250px;

    h1 {
        font-size: 68px;
        font-family: 'Balsamiq Sans', cursive;
        padding-left: 50px;
        padding-top: 90px;
    }

    h2 {
        font-size: 21px;
        font-family: 'Balsamiq Sans', cursive;
        padding-left: 55px;
    }
}


th {
    display: none;
}

.title {
    padding-left: 20px;
    color: #333;
    font-size: 13pt;

    span {
        color: #999;
    }
}

.time {
    color: #333;
    font-size: 13pt;
}

.mat-row {
    background-color: #fff;
    border: 1px #ccc;

    button {
        display: none;
        animation: display 1seg;
    }
}

.mat-row:hover {
    background-color: #fafafa;
    cursor: pointer;

    button {
        display: inline;
        cursor: pointer;
    }
}

.mat-column-delete {
    width: 50px !important;
}