<div id="header">
  <div>
    <h1>HN Feed</h1>
    <h2>We &lt;3 hacker news!</h2>
  </div>
</div>

<div id="list">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="story_title">
        <ng-container *matCellDef="let noticia">
          <td mat-cell class="title" *ngIf="noticia.story_title">{{noticia.story_title}} <span>- {{noticia.author}}
              -</span></td>
          <td mat-cell class="title" *ngIf="!noticia.story_title && noticia.title">{{noticia.title}} <span>-
              {{noticia.author}}
              -</span></td>
        </ng-container>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="created_at">
        <td mat-cell *matCellDef="let noticia" class="time"> {{noticia.created_at | dateAgo}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="delete">
        <td mat-cell *matCellDef="let noticia">
          <button mat-button (click)="borrarNoticia(noticia._id)">
            <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let noticia; columns: displayedColumns;"
        (click)="abrirNoticia(noticia.story_url, noticia.url)"></tr>


    </table>


  </div>
</div>